section(id="about" class="about u-full-width panel")
	.container
		.row
			div(class="twelve columns about-container")
				h3(class="aboutme wow fadeInUp data-wow-duration='1.5s'") I am...
				.div(class="bio wow fadeInUp")
					.row
						div(class="box_one six columns")
							p Observant
							p
								i(class="fa fa-eye fa-4x")
						div(class="box_two six columns")
							p Detail Oriented
							p
								i(class="fa fa-search fa-4x")
					.row
						div(class="box_three six columns")
							p Open-minded
							p
								i(class="fa fa-lightbulb-o fa-4x")
						div(class="box_four six columns")
							p A Team Player
							p
								i(class="fa fa-group fa-4x")
					
