section(id="bio" class="bio-section u-full-width panel")
	.container
		.row
			div(class="bio-container twelve columns wow zoomIn")
				h3.bio-header Hello!
				i(class="fa fa-code fa-3x icon-bio")
				p.bio-writeup
					| I am a 22 y/o developer from San Jose, CA. I have recently graduated from the University of California, Davis and am looking for new work opportunities to challenge my skills. Visually-appealing web apps and designs bring joy to my life!

				i(class="fa fa-heart-o fa-3x icon-bio")
				p.bio-writeup
					| When I am not practicing my programming skills, I enjoy cooking and baking to my heart's content (yum!) . I also love learning new languages and am currently attempting Japanese and Korean.