section(id="contact" class="contact u-full-width panel")
	.container
		.row
			div(class="contact-container twelve columns")
				h3.separator Inquiries?
				a(href="mailto:micnguyen@ucdavis.edu")
					i(class="mail_icon wow swing data-wow-duration='4s' fa fa-envelope-o fa-5x")