header(id="hero" class="panel background")
	.main
		h1(class="wow fadeInDown") Michelle Nguyen
		h4(class="wow fadeInDown" data-wow-delay="0.5s") Always craving to learn and explore
.down
	a(class="arrow-link" href="#bio")
		i(class="wow fadeInDown fa fa-caret-down fa-3x" data-wow-delay="1.5s")