.nav(class="pushy pushy-left")
	ul
		li
			a(href="#hero") Home
		li
			a(href="#bio") About Me			
		li
			a(href="#about") I Am...			
		li
			a(href="#resume") Resume			
		li
			a(href="#contact") Contact Me		

.site-overlay

div(id="nav_container")
	.menu-btn
		i(class="fa fa-bars fa-lg")