section(id="resume" class="resume u-full-width panel")
	.container
		.row
			div(class="resume-container twelve columns")
				h3.separator Resume
				a(href="/assets/img/resume.pdf" target="_blank")
					i(class="resume_icon fa fa-file-text-o fa-5x")